
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "roboto";
}

.container{
   @apply max-w-[1900px] mx-auto ;
}
.header-text{
  color: #1D1D1B;

}
.nav-items{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
}
.btn{
background: #003591;
border-radius: 3px;
width: 180px;
height: 48px;
}

.box-bg{
  background: #003591;
}

.box-text{
  font-family: 'Roboto';
font-style: italic;
font-weight: 700;
font-size: 28px;
line-height: 33px;
/* identical to box height */

text-transform: capitalize;

/* White */

color: #FFFFFF;

}
.box-btn{
background: #05B4FF;
border-radius: 3px;
width: 210px;
height: 42px;
margin: 10px;

}
.heading{
  /* width: 300px; */
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 42px;
text-transform: capitalize;

/* Dark */

color: #1D1D1B;
}
.para{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;

/* or 167% */


/* Text Color */

color: #494949;
}
.sol-btn{
  width: 210px;
height: 52px;

/* Blue */

background: #003591;
border-radius: 3px;
}
.blog{
  background-image: url(./components/assets/images/backgrnd.png);
}
.hero-bg{
  background: #FFFFFF;
  border: 1px solid rgba(0, 74, 149, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 74, 149, 0.08);
  border-radius: 4px;
}
.image {
  
  
clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}
body {
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.study-bg{
  background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 74, 149, 0.08);
}

.orange-btn{
  width: 236px;
height: 52px;

/* Orange */

background: #F59C00;
border-radius: 3px;
}

.study-btn{
  width: 150px;
height: 42px;

/* Blue */

background: #003591;
border-radius: 3px;
}

.icons{
  
background: #FFFFFF;
}